# Entorno virtual
*venv*
venv/
.venv/

# Variables de entorno / secretos
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
Thumbs.db

# Uploads
media/
